<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Google Recaptcha in Node.js Tutorial</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <form action="/capture" method="POST">
      <div class="g-recaptcha" data-sitekey="YOUR SITEKEY GOES HERE"></div>
      <br/>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
